<a href="https://colab.research.google.com/github/MozaSuryaPutra/UTS_PDT_AB_KELOMPOK-ORANG-FRIENDLY/blob/main/PDT_NO1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Inisialisasi Library
import pandas as pd

In [ ]:
# Load dataset
data = pd.read_csv("https://raw.githubusercontent.com/azhar2ds/DataSets/master/10000%20Sales%20Records.csv")

# Tampilkan informasi dataset
print("Informasi dataset:")
print(data.info())

Informasi dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          10000 non-null  object
 1   Country         10000 non-null  object
 2   Item Type       10000 non-null  object
 3   Sales Channel   10000 non-null  object
 4   Order Priority  10000 non-null  object
 5   Order Date      10000 non-null  object
 6   Order ID        10000 non-null  int64
 7   Ship Date       10000 non-null  object
 8   Units Sold      10000 non-null  int64
 9   Unit Price      10000 non-null  float64
 10  Unit Cost       10000 non-null  float64
 11  Total Revenue   10000 non-null  float64
 12  Total Cost      10000 non-null  float64
 13  Total Profit    10000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.1+ MB
None

In [ ]:

# Handle missing values
data["Units Sold"].fillna(value=data["Units Sold"].mean(),inplace = True)
data["Unit Price"].fillna(value=data["Unit Price"].mean(),inplace = True)
data["Unit Cost"].fillna(value=data["Unit Cost"].mean(),inplace = True)
data["Total Revenue"].fillna(value=data["Total Revenue"].mean(),inplace = True)
data["Total Cost"].fillna(value=data["Total Cost"].mean(),inplace = True)
data["Total Profit"].fillna(value=data["Total Profit"].mean(),inplace = True)

In [ ]:
x = data.drop( ['Region', 'Country', 'Item Type','Sales Channel','Order Priority','Order Date','Ship Date'],axis = 1)

In [ ]:
pd.options.display.float_format = '{:.2f}'.format  # Mengatur format angka menjadi dua angka desimal
print(x.describe())

          Order ID  Units Sold  Unit Price  Unit Cost  Total Revenue  \
count     10000.00    10000.00    10000.00   10000.00       10000.00
mean  549871874.37     5002.86      268.14     188.81     1333355.13
std   260783511.13     2873.25      217.94     176.45     1465026.17
min   100089156.00        2.00        9.33       6.92         167.94
25%   321806669.00     2530.75      109.28      56.67      288551.08
50%   548566305.00     4962.00      205.70     117.11      800051.21
75%   775998103.50     7472.00      437.20     364.69     1819143.39
max   999934232.00    10000.00      668.27     524.96     6680026.92

       Total Cost  Total Profit
count    10000.00      10000.00
mean    938265.78     395089.35
std    1145914.07     377554.96
min        124.56         43.38
25%     164785.53      98329.14
50%     481605.84     289099.02
75%    1183821.52     566422.71
max    5241725.60    1738178.39